
<% layout("Layout/boilerPlate.ejs") %>

<div class="row">
    
    <div class="col col-8 mt-3">
       
        <div class="card">
            <h2>Listing Details:</h2>
            <img src="<%= listing.image.url || 'https://images.pexels.com/photos/186077/pexels-photo-186077.jpeg?cs=srgb&dl=pexels-binyaminmellish-186077.jpg&fm=jpg' %>" 
                class="card-img-top show-img mt-2" alt="Listing Image">
            <div class="card-body">
                <h5 class="card-title"><%= listing.title %></h5>
                <p class="card-text"><%= listing.description %></p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Price: &#8377; <%= listing.price.toLocaleString('en-IN') %></li>
                    <li class="list-group-item">Country: <%= listing.country %></li>
                    <li class="list-group-item">Location: <%= listing.location %></li>
                </ul>
                <div show-c-btn>
                    <div>
                        <a href="/listing/<%= listing._id %>/edit" class="btn btn-primary mt-3 show-btn">Edit</a>
                    </div>
                    <div>
                        <form method="POST" action="/listing/<%= listing._id %>?_method=DELETE" class="mt-2">
                            <button class="btn btn-danger show-btn">Delete</button>
                        </form> 
                    </div>
                    
                </div>
            </div>
        </div>
   </div>
</div>
